{% extends "base.html" %}

{% block content %}
    <div class="center">
        <h1 style="padding-top: 50px">Edit your account</h1>
        <form action="." method="post" enctype='multipart/form-data'>
            <div class="inputbox">
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li style="color: red">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% csrf_token %}
            </div>
            <div class="inputbox" style="margin-left: 150px">
                <input type="submit" value="Edit">
            </div>
        </form>
    </div>
{% endblock %}