{% extends "base.html" %}

{% block content %}
    <title>Insure</title>
    <div>
        <table class="table table-bordered table-sm table-hover">
            <thead>
            <tr>
                <th scope="col">Company</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr onclick="window.location='/product_info/{{ product.id }}'">
                    <td><img src="{{ product.company.image.url }}" width="30" height="30"
                             class="d-inline-block align-top" alt="">
                        <a href="/company_info/{{ product.company.id }}"> {{ product.company.name }} </a></td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <nav>
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li><a class="page-link"
                           href="javascript:addOrUpdateUrlParam('page', {{ page_obj.previous_page_number }})">&laquo;</a>
                    </li>
                {% else %}
                    <li class=" page-link"><span>&laquo;</span></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active">
                            <a class="page-link"> {{ i }} <span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li><a class="page-link" href="javascript:addOrUpdateUrlParam('page', {{ i }})">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a class="page-link"
                           href="javascript:addOrUpdateUrlParam('page', {{ page_obj.next_page_number }})">&raquo;</a>
                    </li>
                {% else %}
                    <li class="page-link"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        </nav>
        <script>
            function addOrUpdateUrlParam(name, value) {
                var href = window.location.href;
                var regex = new RegExp("[&\\?]" + name + "=");
                if (regex.test(href)) {
                    regex = new RegExp("([&\\?])" + name + "=\\d+");
                    window.location.href = href.replace(regex, "$1" + name + "=" + value);
                } else {
                    if (href.indexOf("?") > -1)
                        window.location.href = href + "&" + name + "=" + value;
                    else
                        window.location.href = href + "?" + name + "=" + value;
                }
            }
        </script>
    </div>
{% endblock content %}