{% extends "base.html" %}

{% block content %}
    <title>Insure</title>
    <div>
        <table class="table table-bordered table-sm table-hover">
            <form>
                <select name="filter">
                    <option selected="selected" disabled>Filter</option>
                    <option value="company.name">company</option>
                    <option value="name">name</option>
                    <option value="category.name">category</option>
                </select>
                <button class="btn btn-outline-success btn-sm" type="submit" value="Selected">filter</button>
            </form>
            <thead>
            <tr>
                <th scope="col">Company</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr onclick="window.location='/product_info/{{ product.id }}'">
                    <td><img src="{{ product.company.image.url }}" width="30" height="30"
                             class="d-inline-block align-top" alt="">
                        <a href="/list_product/{{ product.company.id }}"> {{ product.company.name }} </a></td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
