<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Home</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
                <nav class="navbar navbar-dark bg-dark">
                    <a class="navbar-brand" href="/edit/">
                        <img src="{{ user.image.url }}" width="30" height="30"
                             class="d-inline-block align-top" alt="">
                        {{ user.username }}
                    </a>
                </nav>
            {% endif %}
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/list_product/all">Products<span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="/responses/{{ user.id }}">Responses<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/list_product/{{ user.id }}">My products<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/create_product/">Create product<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/create_category/">Create category<span
                            class="sr-only">(current)</span></a>
                </li>
            {% endif %}
            <form action="." method="get" class="form-inline" style="margin-left: 50px">
                <div class="input-group">
                    <label class="sr-only" for="query">Search</label>
                    <input type="text" class="col-8 input-group mb-2 mr-sm-2" id="query" name="query"
                           placeholder="Search"
                           value="{{ request.GET.query|default_if_none:'' }}">
                    <button type="submit" class="col-3 btn btn-light mb-2">Search</button>
                </div>
                <select class="form-control mb-2 mr-sm-2" id="filter" name="filter" onchange="this.form.submit()">
                    <option selected="selected" disabled >filter</option>
                    <option value="company.name">company</option>
                    <option value="name">name</option>
                    <option value="category.name">category</option>
                </select>
            </form>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/login/">Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                {% if user.is_authenticated %}
                    <a class="nav-link" href="/logout/">Logout <span class="sr-only">(current)</span></a>
                {% endif %}
            </li>
        </ul>

    </div>
</nav>
<div>
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>